@page
@model WikiAI.IndexModel
@{
    var shouldChecked = true;
    string CheckedValue()
    {
        if (!shouldChecked) return "";
        shouldChecked = false;
        return "checked=\"checked\"";
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>WikiAI</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav>
        <h2>WikiAI</h2>
        <p>Wiki + Azure OpenAI</p>
        <a href="https://github.com/ScottHolden/WikiAI" target="_blank">Source on GitHub</a>
    </nav>
    <div class="search new" id="topSearch">
        <h1 style="text-align: center;">WikiAI</h1>
        <form>
            <input type="text" placeholder="Enter your question">
            <button type="submit" id="askbutton">Ask</button>
            <div class="break"></div>
            @foreach (var item in Model.Strategies)
            {
                <input type="radio" id="@(item.Key)" name="searchType" value="@(item.Key)" @(CheckedValue())>
                <label for="@(item.Key)">@(item.Value)</label>
            }
            <button type="button" id="clearbutton">Reset</button>
        </form>
    </div>
    <div id="spinner"></div>
    <div class="answer" id="answerBox"></div>
    <script src="wikiai.js"></script>
</body>
</html>
